Repository openfun/fun-richie-site-factory, pull requests merged in 2024-05, with the labels that each got.

#204 🚩(funmooc) split REACT_DASHBOARD feature flag
  .circleci/config.yml
  env.d/development
  sites/funmooc/CHANGELOG.md
  sites/funmooc/src/backend/funmooc/settings.py
Labels: feature request

#206 ♻️(funmooc) replace the white fun mooc logo by the color one
  sites/funmooc/CHANGELOG.md
  sites/funmooc/src/backend/base/static/richie/images/logo-funmooc-color.svg
  sites/funmooc/src/backend/base/static/richie/images/logo-funmooc-white.svg
  sites/funmooc/src/backend/templates/richie/base.html
Labels: FUN

#207 🔖(funmooc) bump to version 1.31.0
  sites/funmooc/CHANGELOG.md
  sites/funmooc/src/backend/funmooc/__init__.py
  sites/funmooc/src/frontend/package.json
Labels: FUN, release

#208 ✨(funmooc) add custom course template for professional training
  sites/funmooc/CHANGELOG.md
  sites/funmooc/src/backend/base/templates/cms/professional_training_detail.html
  sites/funmooc/src/backend/base/tests/test_template.py
  sites/funmooc/src/backend/funmooc/settings.py
  sites/funmooc/src/backend/locale/fr/LC_MESSAGES/django.po
Labels: feature request
